body {
  padding: 0px;
  border: #FF79DA solid 1px;
  position: relative;
}

.chargeur {
  border: 10px solid #f3f3f3;
  width: 100px;
  height: 100px;
  border-top: solid green 10px;
  border-bottom: solid lightcoral 10px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  -webkit-animation: spin 300s linear infinite;
  animation: spin 300s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.enseigne {
  height: 50px;
}

.enseigne img {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 32%;
}

#lieu {
  height: 45px;
  background: linear-gradient(to bottom, #e5e2e2, #f0f0f0);
  border-top: solid #d4d4d4;
  padding-top: 2.5px;
  padding-left: 60px;
}

#paris {
  margin-left: 13px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: 70%;
  margin-left: 22%;
}

.marg1 {
  position: relative;
  left: 35px;
}

header p {
  width: 80%;
  margin-left: 17%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#resv {
  background-color: #f7f7f7;
  padding-top: 15px;
}

#resv h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 70%;
}

#resv p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#sele {
  margin-left: 15%;
}

#explo {
  height: 45px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 30px;
  margin-top: 30px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border: #f8f8f8;
  border-radius: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#part01 {
  height: 290px;
  padding-top: 20px;
}

#part01 h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

#choix {
  border: tomato solid 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 200px;
}

.mon_choix {
  width: 90%;
  height: 22%;
  margin-bottom: 15px;
  margin-left: 15px;
  border: #f7f7f7;
  filter: drop-shadow(3px 3px 2px #f0f0f0);
  border-radius: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
}

.mon_choix > div {
  width: 24px;
  height: 21px;
  display: inline-block;
  padding-top: 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}

#ch1 {
  position: absolute;
  right: 317px;
  bottom: 8px;
}

#ch2 {
  position: absolute;
  right: 317px;
  bottom: 8px;
}

#ch3 {
  position: absolute;
  right: 317px;
  bottom: 8px;
}

#phone {
  position: absolute;
  left: 33px;
  top: 11px;
}

#liste {
  position: absolute;
  left: 31px;
  top: 11px;
}

#resto {
  position: absolute;
  left: 36px;
  bottom: 14px;
}

#txtb1 {
  position: aboslute;
  right: 20px;
  font-weight: bolder;
}

#txtb2 {
  position: absolute;
  left: 91px;
  bottom: 14px;
  font-weight: bolder;
}

#txtb3 {
  position: absolute;
  left: 92px;
  bottom: 14px;
  font-weight: bolder;
}

#part02 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

#part02 h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}

#palette, #francaise, #delice, #enchante {
  height: 220px;
  margin-bottom: 30px;
}

.imres {
  height: 75%;
}

.legend01 {
  height: 25%;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.imres img {
  width: 99%;
  height: 100%;
  border: #fdfffa solid 2px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  position: relative;
}

.legend01 {
  position: relative;
}

.legend01 a {
  color: black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.sans_trait {
  color: black;
  text-decoration: none;
}

.grastxt {
  font-weight: bolder;
}

.legend01 {
  position: relative;
}

/*====================================*/
.chgcolor01 {
  width: 26px;
  height: 24px;
  position: relative;
  left: 270px;
  bottom: 49px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chgcolor01:hover .plein04, .chgcolor02:hover .plein04, .chgcolor03:hover .plein04, .chgcolor04:hover .plein04 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.chgcolor01:hover .plein10, .chgcolor02:hover .plein10, .chgcolor03:hover .plein10, .chgcolor04:hover .plein10 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.chgcolor02 {
  width: 26px;
  height: 24px;
  position: relative;
  left: 273px;
  bottom: 49px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chgcolor03 {
  width: 26px;
  height: 24px;
  position: relative;
  left: 271px;
  bottom: 49px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chgcolor04 {
  width: 26px;
  height: 24px;
  position: relative;
  left: 269px;
  bottom: 49px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.coeurBL {
  font-size: 160%;
  color: #0c0c0c;
  background-color: white;
}

.coeurVL {
  font-size: 160%;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zetindex {
  width: 26px;
  height: 24px;
  position: relative;
  left: 0px;
  top: 0px;
  border: #e14156 solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.zetindex:hover .plein04 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.zetindex:hover .plein10 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.plein04 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.plein10 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

/*==========================================*/
footer {
  background-color: #302e2e;
  color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 40px;
}

footer h3 {
  font-family: "Shrikhand", cursive;
}

footer div {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

#propo {
  position: relative;
  left: 10px;
}

#parte {
  position: relative;
  left: 15px;
}

.enseigne01 {
  height: 50px;
  display: flex;
}

.enseigne01 img {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 32%;
  border: solid blue 1px;
}

.fa-solid {
  font-size: 100px;
  font-weight: bolder;
  color: black;
}

.pal01 {
  padding: 10px;
}

.imres img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: red solid 3px;
  border-radius: 0px;
}

.details {
  background-color: #eeeded;
  border: blue solid 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  top: -50px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

.ti_pal {
  border: blue solid 2px;
}

.ti01_pal {
  border: blue solid 2px;
  height: 60px;
}

.rp01 {
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  position: relative;
}

#paletteDG {
  font-family: "Shrikhand", cursive;
}

.ti01 {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.ti_pal div {
  border: #99E2D0 solid 2px;
  width: 11%;
  margin-top: 1px;
}

.repasNomA {
  font-weight: bold;
  border: solid blue 1px;
}

.repasNomB {
  font-size: small;
  border: solid cyan 1px;
  width: 85%;
}

.repasPrix {
  font-size: small;
  border: solid green 1px;
  width: 15%;
}

.repaschoix {
  width: 15%;
  border: solid darkmagenta 1px;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99E2D0;
}

.rp02 {
  display: flex;
}

.nomPrix {
  width: 100%;
  border: solid hotpink 1px;
}

.repaschoix input {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-left: 17px;
  margin-top: 15px;
}

.pal01 {
  margin-bottom: 0px;
}

.suites {
  margin-top: -64px;
  padding-bottom: 40px;
}/*# sourceMappingURL=ohmyf.css.map */