
body{
    padding: 0px;
    border: #FF79DA solid 1px;
    position: relative;
}
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');
// header{
//     border: #2fbdff solid 1px;
//     background-color: rgb(247, 167, 207);
//     height: 350px;
// }

.chargeur{
    border: 10px solid #f3f3f3;
    width: 100px;
    height: 100px;
    border-top: solid green 10px;
    border-bottom: solid lightcoral 10px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    -webkit-animation: spin 300s linear infinite;
    -o-animation: spin 300s linear infinite;
    animation:spin 300s linear infinite;

}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.enseigne{
//   border: green solid 1px;
  height: 50px;
}
.enseigne img{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 32%;
    
}
#lieu{
    height: 45px;
    background: linear-gradient(to bottom,rgb(229, 226, 226), rgb(240, 240, 240));
    border-top: solid rgb(212, 212, 212);
    // background-color: rgb(240, 240, 240);
    padding-top: 2.5px;
    padding-left: 60px;
}
// #lieu p{
//     margin-top: 20px;
//     margin-left: 126px;
// }
#paris{
    margin-left: 13px;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
header h2{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    // font-style: normal;
    font-weight: bolder;
    width: 70%;
    margin-left: 22%;
}
.marg1{
    position: relative;
    left: 35px;
}
header p{
    width: 80%;
    margin-left: 17%;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
#resv{
    background-color: rgb(247, 247, 247);
    padding-top: 15px;
}
#resv h2{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    // font-style: normal;
    font-weight: bold;
    width:70%;
}
#resv p{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
#sele{
    margin-left: 15%;
}
#explo{
    height: 45px;
    width: 50%;
    margin-left:25%;
    // margin-left: 22%;
    margin-bottom: 30px;
    margin-top: 30px;
    background: linear-gradient(to top, #9356DC,#FF79DA);
    color: white;
    // border-color: #9356DC;
    border:rgb(248, 248, 248);
    border-radius: 30px;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
#part01{
    // color: yellowgreen solid 1px;
    // background-color: lightcyan;
    height: 290px;
    padding-top: 20px;
}
#part01 h2{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    // font-style: normal;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}
#choix{
    border: tomato solid 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}  
.mon_choix{
    width: 90%;
    height: 22%;
    margin-bottom: 15px;
    margin-left: 15px;
    border:rgb(247, 247, 247);
    filter:drop-shadow(3px 3px 2px rgb(240, 240, 240));
    border-radius: 18px;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    position: relative;
}
.mon_choix > div{
    width: 24px;
    height: 21px;
    display: inline-block;
    // padding-left: 5px;
    // padding-right: 5px;
    padding-top: 4px;
    // padding-bottom: 1px;
    border-radius: 50%;
    background-color:#9356DC;
    color: white;
    // position: relative;
    // right: 60px;
}
#ch1{
    position: absolute;
    right: 317px;
    bottom: 8px;
}
#ch2{    
    position: absolute;
    right: 317px;
    bottom: 8px;
}
#ch3{    
    position: absolute;
    right: 317px;
    bottom: 8px;
}
#phone{
    position: absolute;
    left: 33px;
    top: 11px;
}
#liste{
    position: absolute;
    left: 31px;
    top: 11px;
}
#resto{
    position: absolute;
    left: 36px;
    bottom: 14px;
}
#txtb1{
    // margin-left: 2%;
    position: aboslute;
    right: 20px;
    font-weight: bolder;
}
#txtb2{
    // margin-left: 2%;
    position: absolute;
    left: 91px;
    bottom: 14px;
    
    font-weight: bolder;
}
#txtb3{
    // margin-left: 2%;
    position: absolute;
    left: 92px;
    bottom: 14px;
    font-weight: bolder;
}
#part02{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f7f7f7;
    // border: rgb(90, 4, 170) solid 1px;
}
#part02 h2{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    // font-style: normal;
    font-weight: bolder;
    margin-bottom: 20px;
}
#palette, #francaise, #delice, #enchante{
    height: 220px;
    margin-bottom: 30px;
    // border: rgb(90, 4, 170)solid 2px;
}
.imres{
	height: 75%;
}	
.legend01{
	height: 25%;
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
	margin-right:0px;
    border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}
.imres img{
	width:99%;
	height: 100%;
	border: #fdfffa solid 2px;
	object-fit: cover;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
    position: relative;
}
.legend01{
    position: relative;
}

.legend01 a{
	color: black;
	font-family:'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
}
 
.sans_trait{
	color: black;
	text-decoration: none;
}
.grastxt{
    font-weight: bolder;
}

.legend01{
    position: relative;
}

// #coeur{
//     height: 400px;
//     margin-top: 20px;
//     border: solid red 1px;
//   }
//   .cr01, .cr02, .cr03, .cr04, .cr05{
//     border: solid blue 1px; 
//     margin: 5px;
//   }
/*====================================*/

.chgcolor01{
    width: 26px;
    height: 24px;
    position: relative;
    left: 270px;
    bottom: 49px;
    // border: rgb(225, 65, 86) solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chgcolor01:hover, .chgcolor02:hover, .chgcolor03:hover, .chgcolor04:hover{
    .plein04{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    .plein10{
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 2;
    }
  }


.chgcolor02{
    width: 26px;
    height: 24px;
    position: relative;
    left: 273px;
    bottom: 49px;
    // border: rgb(225, 65, 86) solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chgcolor03{
    width: 26px;
    height: 24px;
    position: relative;
    left: 271px;
    bottom: 49px;
    // border: rgb(225, 65, 86) solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chgcolor04{
    width: 26px;
    height: 24px;
    position: relative;
    left: 269px;
    bottom: 49px;
    // border: rgb(225, 65, 86) solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.coeurBL{
    font-size: 160%;
    color:rgb(12, 12, 12);
    background-color: white;
    // background: -webkit-linear-gradient(#eee, #eee);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    // border: black solid 2px;
}
.coeurVL{
    font-size: 160%;
    // color:rgb(112, 10, 228);
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .zetindex{
      width: 26px;
      height: 24px;
      position: relative;
      left: 0px;
      top:0px;
      border: rgb(225, 65, 86) solid 1px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .zetindex:hover{
    .plein04{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    .plein10{
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 2;
    }
  }
  .plein04{
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2;
  }
  .plein10{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
  }

/*==========================================*/
footer{
    background-color: rgb(48, 46, 46);
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 40px;
}
footer h3{
    font-family:'Shrikhand', cursive;
}
footer div{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}
#propo{
    position: relative;
    left: 10px;
}
#parte{
    position: relative;
    left: 15px;
}
//----------------Palette du goût---------------

.enseigne01{
      height: 50px;
      display: flex;
      position: relative;
    }
.enseigne01 img{
        width: 40%;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 32%;
        border: solid blue 1px;
        
    }
.retour{
    border: solid red 1px;
    height: 10px;
    width: 29px;
    position: absolute;
    left:10px;
    top:26px;
   
}
.retour i{
    color:black;
    font-size: 10px;
    font-weight: bold;
}
.fa-solid{
    font-size: 100px;
    font-weight: bolder;
    color: black;
}
.pal01{
    // height: 800px;
    padding: 10px;
}
.imres img{
     height: 200px;
     object-fit: cover;
     border: red solid 3px;
     border-radius: 0px;
}
.details{
    // height: 750px;
    background-color: rgb(238, 237, 237);
    border: blue solid 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -50px;
    margin-top: 10px;
    padding-left: 10px ;
    padding-right: 10px;
    margin-bottom: 0px;
}
.ti_pal{
    border: blue solid 2px;
}
.ti01_pal{
    border: blue solid 2px;
    height: 60px;
}
.rp01{
    // display: flex;
    background-color: #f7f7f7;
    // border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    position: relative;
}
#paletteDG{
    font-family:'Shrikhand', cursive;
}
.ti01{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.ti_pal div{
    border: #99E2D0 solid 2px;
    width: 11%;
    margin-top: 1px;
}
.repasNomA{
    width: 100%;
   font-weight: bold; 
   border: solid blue 1px;
}
.repasNomB{
    font-size:small;
    border: solid cyan 1px;
    width: 85%;
}
.repasPrix{
    font-size: small;
    border:solid green 1px;
    width: 15%;
}
.repaschoix{
    width: 15%;
    border: solid darkmagenta 1px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    background-color: #99E2D0;
    visibility: hidden;
}
.rp02{
    display: flex;
    width: 100%;
}
.nomPrix{
    // width: 85%;
    width: 100%;
    border: solid hotpink 1px;
    z-index: 2;
}
.repaschoix i{
    font-size: 20px;
    background-color: #99E2D0;
    color: #f7f7f7;
    position: absolute;
    left: 15px;
    top: 10px;
}
.pal01{
    margin-bottom: 0px;
}
.suites{
    margin-top: -64px;
    padding-bottom: 40px;
}
.AdrEmail{
    color: white;
    text-decoration: none;
}
.entre01:hover{
    .repasNomA{
        width: 84%;
    }
    .rp02{
        width: 85%;

    }
    .repaschoix{
        visibility: visible;
    }
}